@import "style/base.scss";

.login-container {
    @extend .flex-vertical-middle;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $black1;

    .login-head-title {
        font-size: 1.5rem;
    }
}
