@import "./../../../common/style/base.scss";
@import "./../../../common/style/swiper.min.scss";

/* 导航 */
.nav-container {
    position: relative;
    opacity: 0.85;

    .bg-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: pxToRem(144px);

        .bg-img {
            width: 200%;
            height: 100%;
            animation: slide-left-to-right 20s linear 1s infinite alternate;
        }
    }
}

/* 顶部icon列表 */
.top-icon-list-container {
    border-bottom: 0.3rem solid $border-color-shallow;

    .top-icon-list {
        overflow: hidden;
        padding: pxToRem(17.6px) 0 0;

        .top-icon-item {
            float: left;
            width: 20%;
            padding-bottom: pxToRem(12.8px);
            text-align: center;

            .icon {
                border-radius: pxToRem(5.6px) pxToRem(5.6px);
                background-color: $brand-primary;
            }

            .text {
                font-size: pxToRem(10.6px);
            }
        }
    }
}

/* 文章列表 */
.article-list-container {
    .article-list {
        .article-list-item {
            @extend .horizontal-line;
            overflow: hidden;
            font-size: 0.8rem;

            &.single-image-style {
                padding: 0.7rem 0.8rem;

                .img {
                    float: left;
                    height: 4.5rem;
                    margin-right: 1rem;
                }

                .title {
                    @extend .flex-vertical-middle;
                    height: 4.5rem;
                }
            }
        }
    }
}
