@import "./../../style/base.scss";

.aside-menu {
    position: relative;
    float: left;
    overflow: auto;
    width: 20%;
    height: 100%;
    box-shadow: 0rem 0rem 0.5rem 0.2rem rgba(0,0,0,0.5);
    z-index: 10;

    .head-figure {
        padding: 0.7rem;
        background-color: $black1;
        color: #ffffff;
        font-size: 0.7rem;

        .text {
            margin: 1rem 0;
        }

        .logo {
            display: block;
            height: 8rem;
            margin: 0 auto;
        }
    }

    .menu-list {
        padding: 0;

        .menu-item {
            font-size: 0.9rem;
        }
    }
}
