/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-217-share {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px 0rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
.icon-217-shopping-cart {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px -2.7rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
.icon-217-weather {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px -5.4rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
.icon-271-book {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px -8.100000000000001rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
.icon-271-chat-room {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px -10.8rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
.icon-271-clock {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px -13.5rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
.icon-271-gallery {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px -16.200000000000003rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
.icon-271-music {
  background-image: url(./../images/sprite-100-2.7-1.png);
  background-position: 0px -18.900000000000002rem;
  background-size: 2.7rem;
  width: 2.7rem;
  height: 2.7rem;
}
