@import url("./../../../common/style/animate.scss");
@import url("./../../../common/style/swiper.min.scss");

/* 导航 */
.nav-container {
    position: relative;
    border-bottom: 2.2rem solid #046761;
    opacity: 0.85;

    .bg-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 5rem;

        .bg-img {
            width: 150%;
            animation: slide 20s linear 1s infinite alternate;
        }
    }

    .avator-container {
        position: absolute;
        bottom: 0;
        width: 98%;
        height: 3.5rem;

        .avator {
            display: block;
            float: right;
            box-sizing: border-box;
            width: 3.75rem;
            height: 3.75rem;
            margin-top: 1.75rem;
            border-radius: 3.75rem 3.75rem;
            background-color: #ffffff;
            border: 0.2rem solid #0EA198;
        }

        .user-name {
            position: absolute;
            bottom: 0;
            right: 4.25rem;
            color: #ffffff;
            top: 3.8rem;
            margin: auto;
            height: 1rem;
        }
    }
}

/* 顶部icon列表 */
.top-icon-list-container {
    border-bottom: 0.3rem solid #ececec;

    .top-icon-list {
        overflow: hidden;
        padding: 1.1rem 0 0;

        .top-icon-item {
            float: left;
            width: 20%;
            padding-bottom: 0.8rem;
            text-align: center;

            .icon {
                border-radius: 0.35rem 0.35rem;
            }

            .text {
                font-size: 0.65rem;
            }
        }
    }
}

/* 占一行列表 */
.full-row-list-container {
    .full-row-list {
        .full-row-item {
            display: flex;
            align-items: center;
            height: 6rem;
            border-bottom: 1px solid #dcdcdc;
            box-sizing: border-box;

            .figure {
                width: 4rem;
                height: 4rem;
                margin: 1rem;
                border: 1px solid #dcdcdc;
            }

            .text {}
        }
    }
}

/* 滚动列表 */
.scroll-list-container {
    background-color: #ffffff;
    padding: 0 20px;
    border-bottom: 0.3rem solid #ececec;

    .scroll-list {
        position: relative;
        width: 200%;
        height: 8rem;

        .scroll-item {
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 1rem 0;
            height: 6rem;
            background-color: #ffffff;
            border: 1px solid #dcdcdc;
            box-sizing: border-box;
        }
    }
}

/* 半侧列表 */
.half-side-list-container {
    overflow: hidden;
    border-bottom: 0.3rem solid #ececec;

    .half-side-list {
        .half-side-item {
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 6rem;
            box-sizing: border-box;

            &:first-of-type {
                border-right: 1px solid #dcdcdc;
            }
        }
    }
}
