@import "./../../style/base.scss";
@import "./../../style/animate.scss";
@import "./../NormalDialog/style.scss";

.upload-img-dialog-style {
    .preview-container {
        @extend .flex-complete-middle;
        width: 100%;
        height: pxToRem(200px);

        .outside-cont {
            position: relative;

            .icon {
                position: absolute;
                width: pxToRem(18px);
                height: pxToRem(18px);
                margin: auto;

                &.icon-self-top {
                    top: pxToRem(-27px);
                    left: 0;
                    right: 0;
                    animation: slide-top-to-bottom 1s linear 0s infinite alternate;
                }

                &.icon-self-left {
                    left: pxToRem(-27px);
                    top: 0;
                    bottom: 0;
                    animation: slide-left-to-right 1s linear 0s infinite alternate;
                }
            }
        }

        .preview-body {
            overflow: hidden;
            width: pxToRem(130px);
            height: pxToRem(130px);
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWAQMAAAAGz+OhAAAABlBMVEXw8vJfpd8MkpOjAAAARUlEQVRIx2P4////AQYEYP7//w9DAwM6YBkVG6JiowAJKIyKjYoNQbH/UPBjELhlVGxUDL/YKKAdGFRti1Exuohha6MDAHgfN8WePEhPAAAAAElFTkSuQmCC);
            background-size: 100% 100%;
        }
    }
}
