// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-5-name: 's-5';
$s-5-x: 0px;
$s-5-y: 0px;
$s-5-offset-x: 0px;
$s-5-offset-y: 0px;
$s-5-width: 120px;
$s-5-height: 120px;
$s-5-total-width: 120px;
$s-5-total-height: 1560px;
$s-5-image: './sprite.png';
$s-5: (0px, 0px, 0px, 0px, 120px, 120px, 120px, 1560px, './sprite.png', 's-5', );
$qq-friend-name: 'qq_friend';
$qq-friend-x: 0px;
$qq-friend-y: 120px;
$qq-friend-offset-x: 0px;
$qq-friend-offset-y: -120px;
$qq-friend-width: 120px;
$qq-friend-height: 120px;
$qq-friend-total-width: 120px;
$qq-friend-total-height: 1560px;
$qq-friend-image: './sprite.png';
$qq-friend: (0px, 120px, 0px, -120px, 120px, 120px, 120px, 1560px, './sprite.png', 'qq_friend', );
$s-1-name: 's-1';
$s-1-x: 0px;
$s-1-y: 240px;
$s-1-offset-x: 0px;
$s-1-offset-y: -240px;
$s-1-width: 120px;
$s-1-height: 120px;
$s-1-total-width: 120px;
$s-1-total-height: 1560px;
$s-1-image: './sprite.png';
$s-1: (0px, 240px, 0px, -240px, 120px, 120px, 120px, 1560px, './sprite.png', 's-1', );
$s-2-name: 's-2';
$s-2-x: 0px;
$s-2-y: 360px;
$s-2-offset-x: 0px;
$s-2-offset-y: -360px;
$s-2-width: 120px;
$s-2-height: 120px;
$s-2-total-width: 120px;
$s-2-total-height: 1560px;
$s-2-image: './sprite.png';
$s-2: (0px, 360px, 0px, -360px, 120px, 120px, 120px, 1560px, './sprite.png', 's-2', );
$s-3-name: 's-3';
$s-3-x: 0px;
$s-3-y: 480px;
$s-3-offset-x: 0px;
$s-3-offset-y: -480px;
$s-3-width: 120px;
$s-3-height: 120px;
$s-3-total-width: 120px;
$s-3-total-height: 1560px;
$s-3-image: './sprite.png';
$s-3: (0px, 480px, 0px, -480px, 120px, 120px, 120px, 1560px, './sprite.png', 's-3', );
$s-4-name: 's-4';
$s-4-x: 0px;
$s-4-y: 600px;
$s-4-offset-x: 0px;
$s-4-offset-y: -600px;
$s-4-width: 120px;
$s-4-height: 120px;
$s-4-total-width: 120px;
$s-4-total-height: 1560px;
$s-4-image: './sprite.png';
$s-4: (0px, 600px, 0px, -600px, 120px, 120px, 120px, 1560px, './sprite.png', 's-4', );
$qq-zone-name: 'qq_zone';
$qq-zone-x: 0px;
$qq-zone-y: 720px;
$qq-zone-offset-x: 0px;
$qq-zone-offset-y: -720px;
$qq-zone-width: 120px;
$qq-zone-height: 120px;
$qq-zone-total-width: 120px;
$qq-zone-total-height: 1560px;
$qq-zone-image: './sprite.png';
$qq-zone: (0px, 720px, 0px, -720px, 120px, 120px, 120px, 1560px, './sprite.png', 'qq_zone', );
$s-6-name: 's-6';
$s-6-x: 0px;
$s-6-y: 840px;
$s-6-offset-x: 0px;
$s-6-offset-y: -840px;
$s-6-width: 120px;
$s-6-height: 120px;
$s-6-total-width: 120px;
$s-6-total-height: 1560px;
$s-6-image: './sprite.png';
$s-6: (0px, 840px, 0px, -840px, 120px, 120px, 120px, 1560px, './sprite.png', 's-6', );
$s-7-name: 's-7';
$s-7-x: 0px;
$s-7-y: 960px;
$s-7-offset-x: 0px;
$s-7-offset-y: -960px;
$s-7-width: 120px;
$s-7-height: 120px;
$s-7-total-width: 120px;
$s-7-total-height: 1560px;
$s-7-image: './sprite.png';
$s-7: (0px, 960px, 0px, -960px, 120px, 120px, 120px, 1560px, './sprite.png', 's-7', );
$s-8-name: 's-8';
$s-8-x: 0px;
$s-8-y: 1080px;
$s-8-offset-x: 0px;
$s-8-offset-y: -1080px;
$s-8-width: 120px;
$s-8-height: 120px;
$s-8-total-width: 120px;
$s-8-total-height: 1560px;
$s-8-image: './sprite.png';
$s-8: (0px, 1080px, 0px, -1080px, 120px, 120px, 120px, 1560px, './sprite.png', 's-8', );
$s-9-name: 's-9';
$s-9-x: 0px;
$s-9-y: 1200px;
$s-9-offset-x: 0px;
$s-9-offset-y: -1200px;
$s-9-width: 120px;
$s-9-height: 120px;
$s-9-total-width: 120px;
$s-9-total-height: 1560px;
$s-9-image: './sprite.png';
$s-9: (0px, 1200px, 0px, -1200px, 120px, 120px, 120px, 1560px, './sprite.png', 's-9', );
$wechat-group-name: 'wechat_group';
$wechat-group-x: 0px;
$wechat-group-y: 1320px;
$wechat-group-offset-x: 0px;
$wechat-group-offset-y: -1320px;
$wechat-group-width: 120px;
$wechat-group-height: 120px;
$wechat-group-total-width: 120px;
$wechat-group-total-height: 1560px;
$wechat-group-image: './sprite.png';
$wechat-group: (0px, 1320px, 0px, -1320px, 120px, 120px, 120px, 1560px, './sprite.png', 'wechat_group', );
$wechat-name: 'wechat';
$wechat-x: 0px;
$wechat-y: 1440px;
$wechat-offset-x: 0px;
$wechat-offset-y: -1440px;
$wechat-width: 120px;
$wechat-height: 120px;
$wechat-total-width: 120px;
$wechat-total-height: 1560px;
$wechat-image: './sprite.png';
$wechat: (0px, 1440px, 0px, -1440px, 120px, 120px, 120px, 1560px, './sprite.png', 'wechat', );
$spritesheet-width: 120px;
$spritesheet-height: 1560px;
$spritesheet-image: './sprite.png';
$spritesheet-sprites: ($s-5, $qq-friend, $s-1, $s-2, $s-3, $s-4, $qq-zone, $s-6, $s-7, $s-8, $s-9, $wechat-group, $wechat, );
$spritesheet: (120px, 1560px, './sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
