@import "./../../../common/style/base.scss";
@import "./../../../common/style/animate.scss";

.user-info-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $border-color-shallow;

    .list-container {
        background-color: $fill-body;
        margin-top: pxToRem(20px);
        padding: 0 pxToRem(13px);

        .list-item {
            @extend .horizontal-line;
            @extend .flex-vertical-middle;

            min-height: pxToRem(48.33px);

            &:last-of-type::after {
                display: none;
            }

            &.avator-container {
                height: pxToRem(80px);
            }

            .right {
                position: absolute;
                right: 0;
            }

            .figure {
                width: pxToRem(60px);
                height: pxToRem(60px);
                background-color: $fill-overlay-inverse;
            }

            .value {
                color: $color-text-placeholder;
                font-size: pxToRem(14px);
            }
        }
    }
}
