.toast-text {
    position: fixed;
    bottom: 2rem;
    font-size: 0.85rem;
    background-color: rgba(0,0,0,0.75);
    color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.2rem 0.7rem 0.3rem;
    border-radius: 0.5rem;
}
