@import "./base.scss";
@import "./animate.scss";
@import url("./../../../asset/all-sprite.scss");

* {
	margin: 0;
	padding: 0;
	word-break: break-all;
	line-height: normal;
}
@font-face {
	font-family: "Kelson Sans Regular";
	src: "./../font/Kelson_Sans_Regular.otf";
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: $fill-body;
	font-family: "Kelson Sans Regular";
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	/* 禁止双击复制 */
	-moz-user-select: none;
	/* 火狐 */
	-webkit-user-select: none;
	/* webkit浏览器 */
	-ms-user-select: none;
	/* IE10 */
	-khtml-user-select: none;
	/* 早期浏览器 */
	user-select: none;
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

input[type="text"],
input[type="password"],
textarea,
select {
	vertical-align: middle;
	outline: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
	padding: 0.5em 1em;
	border: 0;
	border-radius: 0.3em 0.3em;
	background-color: $fill-base;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
}

input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
}

textarea {
	resize: none;
}

select {
	padding: 0.3em 0.2em;
	height: auto;
}

main {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}
