/*
 * https://github.com/ant-design/ant-design-mobile/wiki/%E8%AE%BE%E8%AE%A1%E5%8F%98%E9%87%8F%E8%A1%A8%E5%8F%8A%E5%91%BD%E5%90%8D%E8%A7%84%E8%8C%83
 */
$color-text-base: #434343; // 默认文字
$color-text-placeholder: #a3a3a3; // placeholder
$color-link: #108119; // link
$color-shadow: rgba(0,0,0,0.25); // 阴影色
$fill-base: #ffffff; // 组件默认背景
$fill-body: #fcfcfc; // 页面背景
$fill-body-heavy: #0EA198; // 页面背景深色
$fill-tap: #dddddd; // 默认背景按下
$fill-mask: rgba(0,0,0,0.5); // 遮罩
$fill-overlay-inverse: rgba(0,0,0,0.8); // 浮层背景反色，toast等
$brand-primary: #00A79D; // 主色
$brand-primary-heavy: #086560; // 主色深色
$border-color-base: #dcdcdc; // 基本边框色
$border-color-shallow: #ececec; // 基本边框浅色

// 色板
$blue1: #3456c1;
$blue2: #00a4e9;
$green1: #08916c;
$green2: #38b49d;

/*
 * 快速转换rem ->
 * $px为需要转换的字号
 */
@function pxToRem($px){
	@return $px / 16px * 1rem;
}

// position竖直居中
.position-vertical-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// 显示
.show {
	display: block;
}

// 显示[inline-block]
.show-inline-block {
	display: inline-block;
}

// 隐藏
.hide {
	display: none;
}

// 容器
.container {
	overflow: hidden;

	&::after {
		display: block;
		width: 100%;
		height: 3.3125rem;
		content: '';
	}
}

// flex完全居中
.flex-complete-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

// flex竖直居中
.flex-vertical-middle {
	display: flex;
	align-items: center;
}

// flex水平居中
.flex-horizontal-middle {
	display: flex;
	justify-content: center;
}

// icon
.icon {
	display: inline-block;
}

// 1px水平线
.horizontal-line {
	position: relative;

	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: -50%;
		width: 200%;
		height: 1px;
		transform: scale(0.5);
		background-color: $border-color-base;
	}
}

// 提示上角标
.icon-self-top {
	display: inline-block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAe1BMVEUAAAAApp0App0App0App4Ap50Ap5wAp50App0App0Ap50Ap50App0Ap50Ap5wAppwAppsApp0AppwAqJ0As5kAp5wAp50Ap50Ap5wAp50AqJwAp5sApp8AqpkArpYAp50Ap50AppwApp0App0ApZ4AppwApZ0Ap58Ap538lQ8fAAAAKHRSTlMApfv1FJHv4MefiXjTuVVRR0AtGQbBrn1taFwqJA8L5Zd/c3BkYjwgZkOpDAAAAPFJREFUSMft1NuOgjAUheFSCshRQDyPzozH/f5PqNEYlqati8RL//svvVht1Tdrk3ozUIxDiZtBYifX9FHx/cu9JS0yebQnRSR9OXkGtiBELs+t3oqDvKTrd3toeS08eUXTi7649YifWGwlxim2hdibdi4yE1d/DrEUd5VVrEMPic82MhJfpUVMxJu2kC7xkpF1lCi4VQoW3MuM8tSiCLmPAklCkQ5JoahwnylHEiAzjuCmKUdKIBFHAiDz4Z/SgiM5kIojKyANR2oga460QAxHDBBO4I35ZUkBD4sshfHJNqm+AZ1uFZ2p5lk+NurbJ7oAVhdYHU4oQEIAAAAASUVORK5CYII=);
	background-size: 100% 100%;
}

// 提示左角标
.icon-self-left {
	display: inline-block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAe1BMVEUAAAAApp0App0App0App4Ap50Ap5wAp50App0App0Ap50Ap50App0Ap50Ap5wAppwAppsApp0AppwAqJ0As5kAp5wAp50Ap50Ap5wAp50AqJwAp5sApp8AqpkArpYAp50Ap50AppwApp0App0ApZ4AppwApZ0Ap58Ap538lQ8fAAAAKHRSTlMApfv1FJHv4MefiXjTuVVRR0AtGQbBrn1taFwqJA8L5Zd/c3BkYjwgZkOpDAAAAM1JREFUSMft00kSgjAURdFvYmikE+wVsNe3/xUqIwmUwJtSnHFuJZWfyGTU3pHy5sKIHQALIlhfUJnJYPMNyCRzQSYvB2Sy1CCTowKZ7AEyCWDRbrjZ+ma3j9PTn7ne0eXsmVIaDujji+2JXso+XqrQL5GawsEAgTVC9Go+7pXGADupSzBALJYbeWOVKzmXygJddOgX0mLa61wvmpnguMx+Z+rYJ8pWa+ItM7/yoehEEkUnkjp0InlIJ1JuyaRy0ACMUE4e3FxI3zFOxu8DtjhYHXKTElgAAAAASUVORK5CYII=);
	background-size: 100% 100%;
}

// 线性渐变
@mixin linear_gradient ($float: to right, $startColor: $green1, $endColor: $green2) {
	background: linear-gradient($float, $startColor, $endColor);
}
