<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no" />
    <meta content="email=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="full-screen" content="yes" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <script title="公共全局参数">
        window.Waydua = {
            userAgent: window.navigator.userAgent,
            browser: {
                bISPC: !/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent),
                bIsIOS: !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
                bIsUc: navigator.userAgent.toLowerCase().match(/ucweb/i) == "ucweb",
                bIsAndroid: navigator.userAgent.toLowerCase().match(/android/i) == "android",
                bIsAndroidVersion: Number(navigator.userAgent.toLowerCase().substr(navigator.userAgent.toLowerCase().indexOf('android') + 8, 3)),
                bIsQQ: navigator.userAgent.toLowerCase().match(/qq/i) == "qq",
                bIsWechat: navigator.userAgent.toLowerCase().match(/micromessenger/i) == "micromessenger",
                bIsWeibo: navigator.userAgent.toLowerCase().match(/weibo/i) == "weibo",
                bIsHuawei: navigator.userAgent.toLowerCase().match(/huawei/i) == "huawei"
            },
            version: '<%= htmlWebpackPlugin.options.version %>',
            site: '<%= htmlWebpackPlugin.options.site %>',
            cdn: '<%= htmlWebpackPlugin.options.cdn %>'
        };
    </script>
    <script title="rem计算">
        (function(doc, win) {
            var docEl = doc.documentElement; // 根元素
            var resizeEvt = 'onorientationchange' in window ? 'onorientationchange' : 'resize'; // 兼容屏幕变化事件
            var recalc = function() {
                var clientWidth = Math.min(docEl.clientWidth, win.innerWidth); // 处理一些移动设备中获取到怪异设备宽度的情况
                var fontSize;
                fontSize = docEl.style.fontSize = '18px';
                win.Waydua.remFontSize = parseInt(fontSize, 10);
            };

            //事件绑定
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window)
    </script>
</head>

<body>
    <main id="app"></main>
    <section class="loading-container" id="loading-container">
        <figure class="loading-img"></figure>
    </section>
</body>
</html>
