@import "style/base.scss";

.article-container {
    .search-filter-board {
        display: flex;
        box-sizing: border-box;
        position: absolute;
        top: 4rem;
        width: 100%;
        padding: 0.5rem 1.5rem 1rem;
        background-color: $yellow1;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
        z-index: 5;

        .filter-board-item {
            min-width: 12rem;
            margin-right: 1.5rem;
        }
    }

    .page-ctrler {
        @extend .flex-complete-middle;
        width: 100%;
        height: 5rem;
        background-color: $white1;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.15);

        .ctrler-item {
            @extend .flex-vertical-middle;
            position: relative;
            margin: 0 0.5rem;

            .MuiFormControl-root-97 {
                margin: 4px 0;
            }

            #tgt-page {
                box-sizing: border-box;
                padding: 8px 40px 7px 10px;
                max-width: 10rem;
                font-size: 0.9rem;
            }

            .goto-btn {
                position: absolute;
                right: 8px;
                bottom: 0.6rem;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }
}
