@import url("./../../../common/style/animate.scss");

.setting-container {
    .setting-list {
        .setting-item {
            padding: 1.1rem 0 1rem;
            margin: 0 1rem;
            border-bottom: 1px solid #dcdcdc;
            box-sizing: border-box;

            .input-text {
                padding: 0.69rem 0.5rem 0.6rem;
                font-size: 0.9rem;
                width: 65%;
                box-sizing: border-box;
                border: 0;
                border-bottom: 1px solid #00a4e9;
            }

            .confirm-btn {
                padding: 0.69rem 0.5rem 0.6rem;
                width: 30%;
                box-sizing: border-box;
                margin-left: 2.5%;
                font-size: 0.85rem;
            }
        }
    }
}
