/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-18751-chatgroup {
  background-image: url(./../images/sprite-100-1.875-1.png);
  background-position: 0px 0rem;
  background-size: 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
}
.icon-18751-credit-cards {
  background-image: url(./../images/sprite-100-1.875-1.png);
  background-position: 0px -1.875rem;
  background-size: 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
}
.icon-18751-shopcar {
  background-image: url(./../images/sprite-100-1.875-1.png);
  background-position: 0px -3.75rem;
  background-size: 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
}
