// https://github.com/ant-design/ant-design-mobile/wiki/%E8%AE%BE%E8%AE%A1%E5%8F%98%E9%87%8F%E8%A1%A8%E5%8F%8A%E5%91%BD%E5%90%8D%E8%A7%84%E8%8C%83

$color-text-base: #434343; // 默认文字
$color-text-base-inverse: #ffffff; // 默认文字反色
$color-text-placeholder: #a3a3a3; // placeholder
$color-link: #108119; // link
$color-shadow: rgba(0,0,0,0.25); // 阴影色
$fill-base: #ffffff; // 组件默认背景
$fill-body: #fcfcfc; // 页面背景
$fill-body-inverse: #000000; // 页面背景反色
$fill-body-heavy: #0EA198; // 页面背景深色
$fill-tap: #dddddd; // 默认背景按下
$fill-mask: rgba(0,0,0,0.5); // 遮罩
$fill-overlay-inverse: rgba(0,0,0,0.8); // 浮层背景反色，toast等
$brand-primary: #00A79D; // 主色
$brand-primary-heavy: #086560; // 主色深色
$border-color-base: #dcdcdc; // 基本边框色
$border-color-shallow: #ececec; // 基本边框浅色

// 色板
$blue1: #3456c1;
$blue2: #00a4e9;
$green1: #08916c;
$green2: #38b49d;
$green3: #277d6d;
$green4: #388f7f;
$yellow1: #fbd208;
$yellow2: #d4b313;
$black1: #292222;
$white1: #ffffff;
